/* Global Declaration  */
:root {
  /* Primary Colors */
  --darkBrown: #57093d;
  --lightBrown: #8a0835;
  --deepBlue: #2937f0;
  --lightBlue: #2936f015;
  --greyFontColor: rgb(128, 128, 128);
  --greyBorderBox: rgba(128, 128, 128, 0.442);
  --greyBorder: rgba(128, 128, 128, 0.212);
  --darkBlack: #000;
  --pureWhite: #fff;
  --bgColor: #f6f9fc;
  --containerPadding: 7rem 9rem;

  /* Neutral Colors  */
}
.first-talent {
  background: none;
}

.opp-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 9rem;
}

.oppo-img {
  height: 60%;
}

.opp-cont img {
  width: 75%;
}

.opp-top h1 {
  color: var(--darkBlack);
  margin-top: 5rem;
  padding: 1rem 9rem;
  font-size: 3rem;
}

.opp-top p {
  color: var(--greyFontColor);
  font-size: 1.3rem;
}

.opp-top p {
  color: var(--darkBlack);
  /* margin-top: 5rem; */
}

.opp-cont label {
  display: block;
}

form div {
  margin: 1rem 0;
}

.opp-form {
  width: 60%;
}

.opp-cont input,
textarea {
  width: 100%;
}

.opp-form button {
  background-color: var(--darkBlack);
  color: var(--pureWhite);
  border: 1px solid var(--darkBlack);
  border-radius: 50px;
  padding: 0.8rem 1rem;
}

.opp-form input,
textarea {
  outline: none;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid var(--greyBorderBox);
}

footer {
  margin-top: 16rem;
}

@media screen and (max-width: 1201px) {
  .opp-top h1 {
    padding: 1rem 5rem;
  }
  main h1 {
    margin-bottom: 1rem;
  }

  main p {
    margin-bottom: 1rem;
  }

  .opp-cont {
    padding: 1rem 5rem;
  }

  .opp-form {
    width: 90%;
  }

  .opp-cont img {
    width: 85%;
  }

  footer {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 992px) {
  .first-talent {
    height: 90dvh;
  }
  .opp-cont img {
    width: 100%;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .first-talent {
    height: 85dvh;
  }

  .opp-form {
    text-align: left;
  }

  .opp-cont {
    padding: 1rem 4rem;
  }

  .opp-form {
    width: 100%;
  }

  footer {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .first-talent {
    height: 100dvh;
  }

  .opp-cont img {
    padding-right: 0;
  }

  /* .oppo-img {
    height: 100%;
  } */

  .opp-cont {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  footer {
    margin-top: 35rem;
  }
}

@media screen and (max-width: 480px) {
  .first-talent {
    height: 95dvh;
  }

  .opp-cont {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 375px) {
  .first-talent {
    height: 80dvh;
  }

  .opp-form {
    width: 70%;
    margin: 0 auto;
  }
  .opp-cont {
    padding: 1rem 1rem;
    width: 100%;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
  }

  .opp-cont img {
    width: 70%;
    margin: 0 auto;
  }
}
